<div class="content mat-elevation-z4">
  <app-toolbar-title title="Cursos" icon="fa-graduation-cap">
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
  </app-toolbar-title>
  <div class="container">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ducimus in sunt quas,
    nobis ipsa blanditiis voluptatum suscipit iusto quaerat obcaecati
    architecto asperiores cumque porro nesciunt sit! Temporibus, veritatis atque.
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ducimus in sunt quas,
    nobis ipsa blanditiis voluptatum suscipit iusto quaerat obcaecati
    architecto asperiores cumque porro nesciunt sit! Temporibus, veritatis atque.
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ducimus in sunt quas,
    nobis ipsa blanditiis voluptatum suscipit iusto quaerat obcaecati
    architecto asperiores cumque porro nesciunt sit! Temporibus, veritatis atque.
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ducimus in sunt quas,
    nobis ipsa blanditiis voluptatum suscipit iusto quaerat obcaecati
    architecto asperiores cumque porro nesciunt sit! Temporibus, veritatis atque.
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ducimus in sunt quas,
    nobis ipsa blanditiis voluptatum suscipit iusto quaerat obcaecati
    architecto asperiores cumque porro nesciunt sit! Temporibus, veritatis atque.
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ducimus in sunt quas,
    nobis ipsa blanditiis voluptatum suscipit iusto quaerat obcaecati
    architecto asperiores cumque porro nesciunt sit! Temporibus, veritatis atque.
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ducimus in sunt quas,
    nobis ipsa blanditiis voluptatum suscipit iusto quaerat obcaecati
    architecto asperiores cumque porro nesciunt sit! Temporibus, veritatis atque.
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ducimus in sunt quas,
    nobis ipsa blanditiis voluptatum suscipit iusto quaerat obcaecati
    architecto asperiores cumque porro nesciunt sit! Temporibus, veritatis atque.
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ducimus in sunt quas,
    nobis ipsa blanditiis voluptatum suscipit iusto quaerat obcaecati
    architecto asperiores cumque porro nesciunt sit! Temporibus, veritatis atque.
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ducimus in sunt quas,
    nobis ipsa blanditiis voluptatum suscipit iusto quaerat obcaecati
    architecto asperiores cumque porro nesciunt sit! Temporibus, veritatis atque.
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ducimus in sunt quas,
    nobis ipsa blanditiis voluptatum suscipit iusto quaerat obcaecati
    architecto asperiores cumque porro nesciunt sit! Temporibus, veritatis atque.
    <br>
    <br>
    <router-outlet></router-outlet>
  </div>
</div>
